<div class="container py-5">
    <div class="row">
        <div class="col-md-4">

            <div class="card text-bg-dark">
                <div class="card-header d-flex justify-content-center">
                    <h5> Account Settings</h5>
                </div>
                <div class="card-body d-flex justify-content-center">
                    <ul class="nav nav-pills flex-column mb-auto  ">
                        <li *ngFor="let item of navLinks" class="nav-item">
                            <a class="text-white" [routerLinkActive]="['active']" [routerLink]="[item.routerLink]">
                                {{item.name}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>