<div class="card text-bg-dark">
    <div class="card-header">
        <h4>Account Info</h4>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="mb-3">
                <label class="form-label">Email Address</label>
                <input type="text" class="form-control" placeholder="Email Address">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input">
                <label class="form-check-label">Mailing List Enabled</label>
            </div>
        </div>
    </div>
</div>