<div class="card text-bg-dark">
    <div class="card-header">
        <h4>Change password</h4>
    </div>
    <div class="card-body">
        <div class="container">
            <ui-alert [input]="alert"></ui-alert>
            <div class="mb-3">
                <label class="form-label">Current password</label>
                <input type="password" class="form-control" placeholder="Username" [(ngModel)]="appUser.oldPassword">
            </div>
            <div class="mb-3">
                <label class="form-label">New password</label>
                <input type="password" class="form-control" placeholder="Email Address" [(ngModel)]="appUser.password">
            </div>
            <div class="mb-3">
                <label class="form-label">Confirm new password</label>
                <input type="password" class="form-control" placeholder="Email Address" [(ngModel)]="confirmPassword">
            </div>
            <button class="btn btn-primary" (click)="submit()">Update</button>
        </div>
    </div>
</div>