.main-img {
    position: relative;
    background: no-repeat scroll 50% 50%;
    background-size: cover;
    max-height: 560px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.format {
    /* padding: 100%; */
    padding: 20vh;
}

/* Body */

.event-page-card {
    height: 100%;
    width: 100%;
}

.font-styles {
    font-size: 1.16rem;
    line-height: 1.5rem;
    letter-spacing: .5px;
    color: rgb(209, 205, 199);
    font-weight: 400;
}

.listing-panel-info {
    flex-direction: column;
    line-height: 25px;
}

.br-color {
    background-color: blanchedalmond;
    height: 0.01px;
}

.icon-size {
    font-size: 22px;
    line-height: 1;
}

.detail-font {
    font-size: 1rem;
}

.dim-text {
    color: #808080;
}

.detail-group {
    padding-bottom: 10px;
}

/* Bottom panel */
.bottom-panel {
    border-color: rgb(66, 71, 74);
    background-color: rgb(28, 30, 31);
    text-align: center;
    position: sticky;
    bottom: 0;
}

.price-listing {
    line-height: 25px;
    font-size: 1.6rem;
    padding-bottom: 10px;
    padding-top: 8px;
}

.btn-wrapper {
    padding-bottom: 8px;
}

.tickets-button {
    max-width: 320px;
    width: 100%;
}