<div class="card">
    <div class="idp-title mt-4">
        <h2 class="mx-4">Register</h2>
    </div>
    <div class="card-body">
        <div class="container py-3">
            <form [formGroup]="inputForm" (ngSubmit)="submit()">
                <ui-alert [display]="error" [input]="alert"></ui-alert>
                <div class="form-group">
                    <label>Email</label>
                    <input placeholder="your-email@mail.com" class="form-control" autocomplete="email"
                        [inputIsInvalid]="email.invalid && (email.dirty || email.touched)"
                        [inputIsValid]="email.valid && (email.dirty || email.touched)"
                        formControlName="email" aria-required="true" />
                    <span *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                        <ul class="px-3">
                            <li *ngIf="email.errors?.required">Email field is required</li>
                            <li *ngIf="email.errors?.email">Field must have a valid email</li>
                        </ul>
                    </span>
                </div>
                <div class="form-group">
                    <label>Username (optional)</label>
                    <input placeholder="Username" class="form-control" autocomplete="email"
                        formControlName="username" aria-required="true" />
                    <small class="form-text text-muted">If no username is entered your username will be your email.</small>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input placeholder="Password" type="password" class="form-control" autocomplete="new-password"
                        [inputIsInvalid]="password.invalid && (password.dirty || password.touched)"
                        [inputIsValid]="password.valid && (password.dirty || password.touched)"
                        formControlName="password" aria-required="true" />
                    <span *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                        <ul class="px-3">
                            <li *ngIf="password.errors?.required">Password field is required</li>
                        </ul>
                    </span>
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input placeholder="Confirm password" type="password" class="form-control" autocomplete="new-password"
                        [inputIsInvalid]="confirm.invalid && (confirm.dirty || confirm.touched)"
                        [inputIsValid]="confirm.valid && (confirm.dirty || confirm.touched)"
                        formControlName="confirm"
                        aria-required="true" />
                    <span *ngIf="confirm.invalid && (confirm.dirty || confirm.touched)" class="text-danger">
                        <ul class="px-3">
                            <li *ngIf="confirm.errors?.required">Password confirmation field is required</li>
                            <li *ngIf="confirm.errors?.mismatch">Password fields do not match</li>
                        </ul>
                    </span>
                </div>
                <button id="registerSubmit" type="submit" 
                    [disabled]="inputForm.invalid || inputForm.pristine"
                class="w-100 my-4 btn btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>