<div class="card text-bg-dark">
    <div class="idp-title mt-4">
        <h2 class="mx-4">Reset Password</h2>
    </div>
    <div class="card-body">
        <div class="container py-3">
            <ui-alert [input]="alert"></ui-alert>
            <ng-container *ngIf="forgotPassword == true; else resetPassword">

                <ng-container *ngIf="!submitted; else emailSent">
                    <div class="mb-3">
                        <label class="form-label">Username or email</label>
                        <input class="form-control" autocomplete="on" [(ngModel)]="login.username"
                            [inputIsInvalid]="submitted && login.username === ''" placeholder="your-email@mailbox.com">
                        <span *ngIf="submitted && login.username === ''" class="text-danger">Email is required</span>
                        <div class="form-text">An email with password reset instructions will be sent to this address.
                        </div>

                    </div>
                    <button class="btn btn-primary w-100" (click)="submit()">Reset password</button>
                </ng-container>

                <ng-template #emailSent>
                    <p class="px-5">If the account associated with the email address exists, an email with instructions
                        to reset the password will be sent.</p>
                </ng-template>

            </ng-container>

            <!-- Password reset form -->
            <ng-template #resetPassword>

            </ng-template>

        </div>
    </div>
</div>