<div class="card text-bg-dark">
    <div class="idp-title mt-4">
        <h2 class="mx-4">Reset Password</h2>
    </div>
    <div class="card-body">
        <div class="container py-3">
            <ui-alert [input]="alert"></ui-alert>
            <ng-container *ngIf="forgotPassword == true; else resetPassword">

                <div class="mb-3">
                    <label class="form-label">Username or email</label>
                    <input class="form-control" autocomplete="on" [(ngModel)]="login.username"
                        [inputIsInvalid]="submitted && login.username === ''" placeholder="your-email@mailbox.com">
                    <span *ngIf="submitted && login.username === ''" class="text-danger">Email is required</span>
                    <div class="form-text">An email with password reset instructions will be sent to this address.
                    </div>

                </div>
                <button class="btn btn-primary w-100" (click)="submit()">Reset password</button>

            </ng-container>

            <!-- Password reset form -->
            <ng-template #resetPassword>

                <form [formGroup]="inputForm" (ngSubmit)="updatePassword()">
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input placeholder="your-email@mail.com" formControlName="email" class="form-control"
                            autocomplete="email" aria-required="true">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input placeholder="Password" type="password" class="form-control" autocomplete="new-password"
                            [inputIsInvalid]="password.invalid && (password.dirty || password.touched)"
                            [inputIsValid]="password.valid && (password.dirty || password.touched)"
                            formControlName="password" aria-required="true" />
                        <span *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                            <ul class="px-3">
                                <li *ngIf="password.errors?.required">Password field is required</li>
                            </ul>
                        </span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Confirm Password</label>
                        <input placeholder="Confirm password" type="password" class="form-control"
                            autocomplete="new-password"
                            [inputIsInvalid]="confirm.invalid && (confirm.dirty || confirm.touched)"
                            [inputIsValid]="confirm.valid && (confirm.dirty || confirm.touched)"
                            formControlName="confirm" aria-required="true" />
                        <span *ngIf="confirm.invalid && (confirm.dirty || confirm.touched)" class="text-danger">
                            <ul class="px-3">
                                <li *ngIf="confirm.errors?.required">Password confirmation field is required</li>
                                <li *ngIf="confirm.errors?.mismatch">Password fields do not match</li>
                            </ul>
                        </span>
                    </div>
                    <button id="submit" type="submit" [disabled]="inputForm.invalid || inputForm.pristine"
                        class="w-100 my-4 btn btn-primary">Confirm</button>
                </form>

            </ng-template>

        </div>
    </div>
</div>