<div class="top-bg">
    <app-search-bar [chosenCity]="currentCity" [isEvent]="false"></app-search-bar>
</div>

<div class="container">
    <div class="row pt-4">
        <ng-container *ngFor="let venue of venues">
            <div class="col-md-4">
                <app-master-page-item 
                    [venueName]="venue.venueName"
                    [location]="venue.location"
                    [imgUrl]="venue.picture"
                    [link]="'/venues/detail/'+ venue.venueId"
                    [isEvent]="false"></app-master-page-item>
            </div>
        </ng-container>
    </div>

</div>