<div class="d-flex justify-content-center">
    <div class="col-6">
        <div class="card">
            <div class="card-header">Add a new event</div>
            <div class="card-body">
                <ui-alert [input]="alert"></ui-alert>
                <div class="form-group">
                    <label>Venue</label>
                    <ng-select [(ngModel)]="venueFK" placeholder="Choose a venue">
                        <ng-option *ngFor="let venue of venues" [value]="venue.venueId">{{venue.venueName}} </ng-option>
                    </ng-select>
                </div>
                <ui-event-concert-form-model-form #form (outputModel)="postNewEvent($event)"></ui-event-concert-form-model-form>

            </div>
        </div>
    </div>
</div>

<app-modal #previewModal>
    <div header>Event Preview</div>
    <div body>
        <ng-container *ngIf="base64str">
            <app-master-page-item #preview [eventName]="event?.eventName" [date]="event?.eventDate" [imgUrl]="base64str"
                [isEvent]="true"></app-master-page-item>

        </ng-container>
    </div>

</app-modal>