
<div class="d-flex justify-content-center">
    <div class="col-8">
        <div class="card">
            <div class="card-header">Add a new event</div>
            <div class="card-body">
                <ui-alert [input]="alert"></ui-alert>
                <div class="form-group">
                    <label>City</label>
                    <ng-select [(ngModel)]="cityFk" placeholder="Choose a city">
                        <ng-option *ngFor="let city of cities" [value]="city.cityId">{{city.cityName}} </ng-option>
                    </ng-select>
                </div>
                <ui-venue-form-model-form (outputModel)="post($event)"></ui-venue-form-model-form>

            </div>
        </div>
    </div>
</div>