"<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-5 d-none d-sm-inline">Admin Panel</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 mx-sm-0 align-items-center align-items-sm-start">
        <li *ngFor="let item of manageItems" class="nav-item">
            <a class="nav-link text-white" [routerLinkActive]="['active']" [routerLink]="[item.routerLink]">
                <fa-icon [icon]="item.icon"></fa-icon>
                <div class="ms-1 d-none d-sm-inline"> {{item.name}}</div>
            </a>
        </li>
    </ul>
</div>