<div class="card text-bg-dark">

    <div class="card-header">City List</div>
    <div class="card-body">
        <table class="table table-striped table-dark" id="localConcertsTable">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let city of cities">
                    <td>
                        <button class="btn btn-primary" (click)="edit(city)">Edit</button>
                    </td>
                    <td>{{city.cityName}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<app-modal #editModal>
    <div header>Edit Venue: {{cityEdit?.cityName}}</div>
    <div body>
        <div class="container-fluid">
            <div class="form-group">
                <label>Image preview</label>
                <img [src]="cityEdit?.image" style="width: 100%; height:auto;">
            </div>
            <ui-city-form-model-form [validate]="false" [showSubmit]="false"></ui-city-form-model-form>
        </div>
    </div>

</app-modal>