<div class="container py-5">
    <h1 class="text-light">Venues</h1>
    <div class="table-responsive">
        <table class="table text-light" id="localConcertsTable">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">City</th>
                    <th scope="col">Location</th>
                    <th scope="col">Address</th>
                    <th scope="col">Hours</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let venue of venues">
                    <td>
                        <button class="btn btn-primary btn-sm" (click)="edit(venue)">Edit</button>
                    </td>
                    <td>{{venue.venueName}}</td>
                    <td>{{venue.cityFkNavigation.cityName}}</td>
                    <td>{{venue.location}}</td>
                    <td>{{venue.address}}</td>
                    <td>{{venue.hours}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<app-modal (onSubmit)="update()" #editModal>
    <div header>Edit Venue: {{editVenue?.venueName}}</div>
    <div body>
        <div class="container-fluid">
            <div class="form-group">
                <label>Image preview</label>
                <img [src]="editVenue?.picture" style="width: 100%; height:auto;">
            </div>
            <ui-venue-form-model-form [validate]="false" [showSubmit]="false"></ui-venue-form-model-form>
        </div>
    </div>

</app-modal>