<div class="container contact-large contact-m">
    <div class="row">
        <a class="text-light contact-item"
            [routerLink]="[]" 
            [cdkCopyToClipboard]='email'>
            <i class="far fa-envelope"></i>
            {{email}}
        </a>

    </div>
    <div class="row">
        <p class="text-light contact-item">
            <i class="fab fa-instagram"></i>
            <a href="https://www.instagram.com/thefortress__/" target="_blank">Instagram</a>
        </p>

    </div>
    <div class="row">
        <iframe src="https://sf.lvdev.net/in-basket/unknown-medication/10085" width="100%" height="500px"></iframe>
    </div>


</div>