<section class="intro">
    <div class="jumbotron splash fade-in-image">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-12">
                    <div class="">
                        <h1 class="text-light splash-title">About Us</h1>
                    </div>
                    <p class="text-light" style="font-size: 1.33rem;">If you'd like to reach us, below are a few ways to get in touch.</p>
                </div>

            </div>
        </div>
    </div>
</section>