<div class="top-bg">
    <app-search-bar [chosenCity]="currentCity"></app-search-bar>
</div>

<div class="container">

    <div class="row">
        <div class="col-12">
            <br>
            <div class="row">
                <div *ngFor="let event of staggeringEvents" (@flyInOut.done)="doNext()" [@flyInOut]="'in'" class="col-md-6 col-lg-3">
                    <app-master-page-item [eventName]="event.eventName"
                        [venueName]="event.venueFkNavigation.venueName"
                        [link]="'/events/'+event.eventConcertId"
                        [imgUrl]="event.flyer"
                        [date]="event.eventDate"
                        [isEvent]="true"
                        > </app-master-page-item>
            </div>
        </div>
    </div>

</div>