.city-container {
    position: relative;
    text-align: center;
    color: white;
}

.city-img {
    width: 95%;
    height: 200px;
    filter: brightness(75%);
    border-radius: 20px;
}

.city-title { 
    position: absolute;
    color: ivory;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
