<section class="intro">
    <div class="jumbotron splash fade-in-image">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-12">
                    <div class="">
                        <h1 class="text-light splash-title">Humboldt Concerts and More</h1>
                    </div>
                    <p class="text-light" style="font-size: 1.05rem;">Events from all your favorite venues in one place.</p>
                </div>

            </div>
        </div>
    </div>
</section>