.intro .splash {
    position: relative;
}
.intro .splash::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: black;
    opacity: 0.4;
}


.splash {
    background: url("../../../../assets/splash-proto4.jpg") no-repeat center top;
    background-size: cover;
}

@media(max-width: 991.98px) {
    .intro .splash {
        height: 380px;
    }
}

@media(min-width: 1400px) {
    .intro .splash {
        height: 360px;
    }

}

.splash-title {
    padding-top: 1.5em;
}
