
<div class="modal" [ngStyle]="{'display': modalDisplay}" #modal>
    <div class="modal-dialog">
        <div class="modal-content text-bg-dark">
            <div class="modal-header">
                <div class="modal-title"> 
                    <ng-content select="[header]"></ng-content>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="hide()"></button>

            </div>
            <div class="modal-body" style="max-height: 80vh; overflow-y:auto">
                <ng-content select="[body]"></ng-content>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="hide()">Close</button>
                <button type="button" class="btn btn-primary" (click)="onSubmit.emit()">Submit</button>
            </div>
        </div>
    </div>
</div>